body{
    background-color: #F2E1AE;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: #341c8c;
}
main{
    background-color: rgba(247, 6, 150, 0.333) ;
    color: #F2E1AE;
    font-size: large;
} 
p{ 
    color: darkgoldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px
}
h2{
    color: #9475BF
}

h3 {
    color: cornflowerblue;
}

p{  font-family: Arial, Helvetica, sans-serif;
    font-size: 20px
 }
 #blog2 {
    color:grey;
    font-size:20px;
 }
 